/* Full page container */
.login-container {
  min-height: 100vh; /* Ensures the container takes the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/background.jpg') no-repeat center center;
  background-size: cover; /* Makes sure the background image covers the entire container */
  background-position: center center; /* Keeps it centered */
}

/* Blue box */
.login-box {
  background-color: #7db4eb; /* Medium blue */
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: -150px;
}

/* Heading */
.login-box h2 {
  margin-bottom: 1rem;
  color: black;
}

/* Input fields */
.login-box input {
  width: 80%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  margin-left: center;
}

/* Button styling */
.login-box button {
  width: 87%;
  padding: 0.8rem;
  background-color: #003366; /* Darker blue */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem; /* Added vertical space between buttons */
}

.login-box button:hover {
  background-color: #035b21; /* Green hover color */
}
