.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url('../assets/background.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px;
  padding-top: 50px;
}

.register-box {
  background-color: #7db4eb;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-top: 100px;
}

.register-box input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  margin: 0.5rem 0; /* Adjusted margin to reduce space */
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  height: 30px;
}

.register-box button,
.connect-btn {
  padding: 10px 20px;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  margin-top: 1rem; /* Reduced margin to bring buttons closer */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
}

.register-box button {
  background-color: #003366;
  color: white;
}

.register-box button:hover {
  background-color: #035b21;
}

.connect-btn:hover {
  background-color: #af4e09;
}

/* Styling for the modified password text */
.modified-password {
  color: #b13d1a; /* Dark blue color for the modified password */
  font-weight: bold;
  font-size: 18px;
  word-break: break-word;
}

/* Optional: Responsive design for smaller screens */
@media (max-width: 768px) {
  .register-box {
    padding: 1.5rem;
  }

  .register-box button,
  .connect-btn {
    max-width: 90%;
  }
}
